.card {
  margin-bottom: 70px;
  position: relative;
  min-height: 80vh;

  &__details {
    display: flex;
    margin-bottom: 70px;
  }

  &__gallery {
    max-width: 710px;
    margin-right: 30px;
  }

  &__image {
    margin-bottom: 20px;
  }

  &__slider-thumb {
    width: 452px;
  }

  &__thumbs {
    margin-bottom: 20px;
  }

  &__thumb {
    display: block;
    width: 120px;
    height: 120px;
    &_active {
      outline: 2px solid $color-main;
      outline-offset: -2px;
    }
  }

  &__info {
    width: 100%;
    padding-top: 120px;
  }

  &__title {
    display: block;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    margin-bottom: 20px;
  }

  &__vendor-code {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 63px;
  }

  &__control {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
    max-width: 826px;
  }

  &__count {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 120px;
    margin-right: 80px;
  }

  &__btn {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid $color-primary;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;

    &:hover {
      border-color: $color-main;
      color: $color-main;
    }
    &_dec {

    }
    &_inc {

    }
  }
  &__number {
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
  }

  &__price {
    font-weight: 500;
    font-size: 34px;
    line-height: 41px;
    margin-right: auto;
  }

  &__add-cart {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding: 16.5px 20px;
    width: 352px;
    height: 57px;
    background-color: $color-main;
    color: $color-secondary;
    border: 1px solid $color-main;


    &:hover {
      background-color: $color-main-sub;
      border-color: $color-main-sub;
    }

    &:active {
      background-color: $color-main;
      border-color: $color-main-dark;
    }
  }

  &__params-list {
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
  }

  &__params-item {
    display: grid;
    grid-template-columns: 210px 1fr;
    gap: 100px;
    white-space: pre-wrap;
  }

  &__description {
    max-width: 1450px;
  }

  &__description-title {
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 20px;
  }

  &__description-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
  }

  &__preload {
    position: absolute;
    inset: 0;
    z-index: 100;
    background-color: $color-secondary;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      transform: rotate(0);
      animation: rotation 1s infinite linear;
    }
  }

}
