.card {
  margin-bottom: 70px;

  &__details {
    display: flex;
    margin-bottom: 70px;
  }

  &__gallery {
    max-width: 710px;
    margin-right: 30px;
  }

  &__image {
    margin-bottom: 20px;
  }

  &__thumbs {
    margin-bottom: 20px;
  }

  &__slider-thumb {
    width: 460px;
  }

  &__thumb {
    border: 2px solid transparent;
    &_active {
      border-color: $color-main;
    }
  }

  &__info {

  }

  &__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    margin-bottom: 20px;
  }

  &__vendor-code {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 63px;
  }

  &__control {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
    max-width: 826px;
  }

  &__count {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 119px;
    margin-right: 80px;
  }
  &__btn {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: $color-secondary;
    border: 1px solid $color-primary;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    &_dec {

    }
    &_inc {

    }
  }
  &__number {
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
  }

  &__price {
    font-weight: 500;
    font-size: 34px;
    line-height: 41px;
  }

  &__add-cart {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding: 16.5px 20px;
    width: 352px;
    height: 57px;
    background-color: $color-main;
    color: $color-secondary;
    border: 1px solid $color-main;
    margin-left: auto;

    &:hover {
      background-color: $color-main-sub;
      border-color: $color-main-sub;
    }

    &:active {
      background-color: $color-main;
      border-color: $color-main-dark;
    }
  }

  &__params-list {

  }

  &__params-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: pre-wrap;
    max-width: 510px;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
  }

  &__params-title {
    flex: 0 1 50%;
  }
  &__params-value {
    flex: 0 0 40%;
  }

  &__description {
  }

  &__description-title {
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 20px;
  }

  &__description-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    max-width: 1450px;
  }

}
