.goods {

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 340px));
    gap: 40px 30px;

    @include desktop {
      gap: 20px 20px;
      justify-content: space-evenly;
    }

    @include laptop {
      grid-template-columns: repeat(auto-fill, 310px);
    }

    @include mobile {
      grid-template-columns: repeat(auto-fill, 145px);
      gap: 10px;
    }
  }

  &__message {
    grid-column: 1 / -1;
    text-align: center;
    padding: 20px;
    border: 2px solid $color-main;
    font-weight: 400;
    font-size: 34px;
    line-height: 150%;

    @include mobile {
      font-size: 26px;
    }
  }

  &__preload {
    grid-column: 1 / 5;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      transform: rotate(0);
      animation: rotation 1s infinite linear;
    }
  }

}
