.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 21px;
  font-size: 18px;
  line-height: 22px;

  &__arrow {
    display: block;
    width: 18px;
    height: 18px;
    background-image: url('img/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;

    &_start {
      transform: rotate(180deg);
    }
    &_end {

    }

    &[href=""] {
      opacity: 0.3;
      pointer-events: none;
    }

    &:hover {
      color: $color-main;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border: 2px solid transparent;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: $color-main;
    }

    &_active {
      border-color: $color-main;
      cursor: default;
      pointer-events: none;
    }


  }
}


.swiper-button-prev,
.swiper-button-next {
  width: 22px;
  height: 22px;
  padding: 30px 30px;
  color: $color-primary;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: -20px;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: -20px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 22px;
}
