.total {
  &__wrapper {
    position: relative;
    border: 1px solid $color-grey;
    border-radius: 20px;
    padding: 40px 20px;
    margin: 0 auto;

    @include desktop {
      max-width: 494px;
      padding-bottom: 28px;
    }

    @include mobile {
      border: none;
      padding: 15px 0 25px;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: calc((100vw - 100%) / -2);
        display: block;
        width: 100vw;
        height: 1px;
        background-color: $color-grey;
      }

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: calc((100vw - 100%) / -2);
        display: block;
        width: 100vw;
        height: 1px;
        background-color: $color-grey;
      }
    }

  }

  &__table {
    margin-bottom: 50px;

    @include mobile {
      margin-bottom: 30px;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    @include mobile {
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 17px;
      padding: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &_header {
      font-weight: 700;
      font-size: 22px;
      line-height: 27px;
      padding-bottom: 9px;
      border-bottom: 1px solid $color-grey-light;
      margin-bottom: 27px;

      @include mobile {
        position: relative;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 14px;
        border-bottom: none;

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: calc((100vw - 100%) / -2);
          display: block;
          width: 100vw;
          height: 1px;
          background-color: $color-grey-light;
        }
      }
    }

    &_grey {
      color: $color-grey;
    }

    &_gap {
      margin-bottom: 40px;

      @include mobile {
        margin-bottom: 30px;
      }
    }
  }



  &__order {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 17px;
    padding: 0 10px;

    @include desktop {
      flex-direction: column;
      max-width: 352px;
      margin: 0 auto;
      gap: 20px;
    }
    @include mobile {
      width: 100%;
      gap: 15px;
      padding: 0;
    }
  }

  &__submit {
    max-width: 352px;
    width: 100%;
    height: 57px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    background-color: $color-main;
    color: $color-secondary;
    border: 1px solid $color-main;

    @include mobile {
      height: 50px;
      font-size: 12px;
      line-height: 15px;
    }

    &:hover {
      background-color: $color-main-sub;
      border-color: $color-main-sub;
    }

    &:active {
      background-color: $color-main;
      border-color: $color-main-dark;
    }
  }

  &__agree {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    flex-basis: 292px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $color-grey;

    @include desktop {
      flex-basis: auto;
    }

    @include mobile {
      font-size: 12px;
      line-height: 15px;
    }

  }

  &__agree-link {
    color: $color-primary;

    &:hover {
    color: $color-main;
  }
  }

}
